@model dotnet_mvc.ViewModels.HomeDetailsViewModel


<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
    <div>
         <div>
                @Model.Title
        </div>
        <div>
            <div>
                Name: @Model.data.name
            </div>
        </div>
        <div>
            <div>
                Email: @Model.data.email
            </div>
        </div>
        <div>
            <div>
                Department: @Model.data.department
            </div>
        </div>
    </div>
    </body>
</html>