@model dotnet_mvc.ViewModels.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}


    <div>
         <div>
                @Model.Title
        </div>
        <div>
            <div>
                Name: @Model.data.name
            </div>
        </div>
        <div>
            <div>
                Email: @Model.data.email
            </div>
        </div>
        <div>
            <div>
                Department: @Model.data.department
            </div>
        </div>
    </div>